* {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

header {
    border-bottom: solid;
}

.container {
    display: flex;

}

.container1 {
    display: flex;
    /* background-color: aqua; */
    align-items: center;

}

.container2 {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.nav {
    font-size:smaller ;
    margin: 0 10px 0 10px;
    padding: 5px;
    border-radius: 20px;
}

.signin {
    padding: 5px 15px 5px 15px;
    background-color: white;
    border: solid
}

.join {
    padding: 10px;
    color: white;
    background-color:black;
}

section {
    display: flex;
    max-width: 1440px;
    max-height: 100em;
    background-color: #d4e9e2;
    margin: 20px;
    flex: 1 1 0px;
    
}

main img {
    max-width: 100%;
    max-height: 80%;
    margin: 20px 20px 20px 0px;
}

section div {
    /* position:static */
    overflow: auto;
    font-family: Sodo;

}

section {
    min-width: 400px;
}
